.hoc{
  background-color: black;
  color: whitesmoke;
}
.pure{
  background-color: rgb(131, 243, 103);
  font-size: 20px;
}
h2{
  text-align: center;
  text-decoration: underline;

}
p{
  padding-left: 10%;
}
h1{
  text-align: center;
  text-decoration: underline;
}